.successbox, .warningbox, .errormsgbox, .Infobox {
    font-weight:bold;
    border: 2px solid;
    margin: 10px 0px;
    padding:15px 70px 15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    width:600px;
}
.successbox {
    color: #4F8A10;
    background-color:#EDFCED;
    background-position: right; 
    background-image:url('../images/success.png');
}
.warningbox {
    color: #FFE222;
    background-color:#FAF9C9;
    background-position: right; 
    background-image: url('../images/warning.png');
}
.errormsgbox {
    color: #D8000C;
    background-color:#FDD5CE;
    background-position: right; 
    background-image: url('../images/error.png');
}
.Infobox{
    color: #00529B;
    background-color: #BDE5F8;
    background-position: right; 
    background-image: url('../images/info.png');
}