/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/09/2014, 12:53:29 ص
    Author     : ahmed
*/
body
{
    margin: 0px 0px 0px 0px;
    background-color:#681010;
}

#wrapper
{
    margin: 0px 0px 0px 0px;
    background-color:#681010;
    width: 90%; 
}
#main-menu
{
    background-color: #0000ff;
    height: 100px;
}
#content{
    background-color:#b36f1d; 
    width: 100%;
    height: 500px;
}
#right_panel{
    width: 280px;
    background-color: #7673e3;
    float: right;
    height: 500px;

}
#left_panel{
    width: 900px;
    background-color: #7673e3;
    float: right;
    height: 500px;

}